<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="Xavier Muñiz" />

		<title>{{ page.title }}</title>
		
		<!-- RSS feed -->
		<link href="/feed" rel="alternate" title="xmz.io" type="application/atom+xml" />

		<!-- Main CSS -->
		<link rel="stylesheet" href="{{ site.url }}/assets/screen.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="{{ site.url }}/assets/syntax.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="{{ site.url }}/assets/color.screen.css" type="text/css" media="screen, projection" />
		
		<style>

		</style>
	</head>
	<body>
		<div id="container">
				
			<div id="header">
				{% include header.html %}
			</div><!-- /header -->
				
			<div id="content">
				{{ content }}
			</div><!-- /content -->

			<div id="aside">
				{% include aside.html %}
			</div><!-- /aside -->

			<div id="footer">
				{% include footer.html %}
			</div><!-- /footer -->
			
			<div id="bottom"></div>
		</div>
	</body>
</html>
