<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<meta name="author" content="Xavier Muñiz" />
		<link href="http://feeds.feedburner.com/xmzio" rel="alternate" title="xmz.io" type="application/atom+xml" />

		<!-- Main CSS -->
		<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
	</head>
	<body>
		<div class="site">
			{% include header.html %}

			{{ content }}
		
			{% include footer.html %}
		</div>
	</body>
</html>
